<div class="guide-container" fxLayout="column" fxLayoutAlign="start start">
  <div fxLayout="column" class="content" fxLayoutAlign="center center" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h2>Newbie Guide</h2>
      <img [src]="imgPath + 'main-line.png'" />
    </div>

    <div class="content" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
      <div class="level-zones" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
        <h4>Leveling Zones</h4>
        <div>
          <p>- Level 1 to 20: Outside starting town.</p>
          <p>- Level 20 to 40: Gludin/Gludio/Dion Area</p>
          <p>- Level 40 to 70: Giran/Adena Area</p>
          <p>- Level 70 to 80: Goddard Area</p>
          <p>- LEvel 80 to 85: Primeval Area</p>
        </div>
      </div>
      <div class="drop-zones" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
        <h4>Drop zones</h4>
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
          <div>
            <h6>Antharas Lair & Hellbound</h6>
          </div>
          <p>- Blessed enchants</p>
          <p>- Stones, Crystals, Codex, Codex - Mastery</p>
        </div>
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
          <div>
            <h6>Grand/RB Drops</h6>
          </div>
          <p>- Ancient weapon/armor (S,A,B)enchants (10%)</p>
          <p>- Codex Mastery</p>
          <p>- Blessed Olf's T-shirt Enchant Scroll</p>
          <p>- Olf's T-shirt T shirt</p>
        </div>
      </div>
    </div>
  </div>
</div>