<div class="donations-container" fxLayout="column" fxLayoutAlign="start start">
  <div fxLayout="column" class="content" fxLayoutAlign="center center" fxLayoutGap="20px">
    <div class="header" fxLayout="column" fxLayoutAlign="center center">
      <h2>Donation List</h2>
      <p>We do not sell and you do not buy anything. You help the server in so far as server can help you. Exchange is recognized as equivalent to charity. ​​</p>

      <p>Donations are accepted as a free will to give money to support the community and the servers expenses. You are donating out of the kindness of your heart. We are not bound by any contracts in any amount of time. In saying this, donations are
        not refundable. </p>

      <p> You can't claim back or change your donation once submitted. If you can't follow those rules please avoid to donate.</p>
      <img [src]="imgPath + 'main-line.png'" />
    </div>

    <div class="content" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
      <div class="donation-item" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
        <!-- full armor set -->
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <div><img [src]="imgPath + 'armor-set.png'" /></div>
          <div>+20 Full Armor Set</div>
          <div>(P1200)</div>
        </div>
        <!-- fame -->
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <div><img [src]="imgPath + 'fame.png'" /></div>
          <div>x10,000 Fame</div>
          <div>(P500)</div>
        </div>
        <!-- golden apiga -->
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <div><img [src]="imgPath + 'golden-apiga.png'" /></div>
          <div>x500 Golden Apiga</div>
          <div>(P500)</div>
        </div>
        <!-- gcm -->
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <div><img [src]="imgPath + 'gcm.png'" /></div>
          <div>x500 Giant's Codex - Mastery </div>
          <div>(P500)</div>
        </div>
        <!-- Gold bar -->
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <div><img [src]="imgPath + 'gold-bar.png'" /></div>
          <div>x99 Gold bars</div>
          <div>(P500)</div>
        </div>
        <!-- Quick healing postion -->
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <div><img [src]="imgPath + 'qhp.png'" /></div>
          <div>x1000 Quick Healing Potion</div>
          <div>(P500)</div>
        </div>

        <img [src]="imgPath + 'main-line.png'" />
        <div>
          <!-- Baium -->
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <div><img [src]="imgPath + 'baium-ring.png'" /></div>
            <div>+20 Baium Ring</div>
            <div>(P750)</div>
          </div>
          <!-- zaken -->
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <div><img [src]="imgPath + 'zaken-earing.png'" /></div>
            <div>+20 Zaken Earring</div>
            <div>(P750)</div>
          </div>
          <!-- ant -->
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <div><img [src]="imgPath + 'qa-ring.png'" /></div>
            <div>+20 Ant Ring</div>
            <div>(P750)</div>
          </div>
          <!-- freya -->
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <div><img [src]="imgPath + 'freya-neck.png'" /></div>
            <div>+20 Freya Necklace</div>
            <div>(P650)</div>
          </div>
          <!-- tezza -->
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <div><img [src]="imgPath + 'tezza-neck.png'" /></div>
            <div>+20 Tezza Necklace</div>
            <div>(P650)</div>
          </div>
        </div>
      </div>

      <div class="contact-us" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="3px">
        <div>Contact Us: For more information at <span class="email">pl2game.ph@gmail.com</span></div>
        <div>You can also support us at any amount via <span class="link">Paypal</span></div>
      </div>

    </div>
  </div>
</div>