
.contact-us {
  font-size: 12px;
  color: #444;
  span.email {
    background: -webkit-linear-gradient(#795032, #e1cb88);
    -webkit-background-clip: text;
  }
  span.link {
    background: -webkit-linear-gradient(#795032, #e1cb88);
    -webkit-background-clip: text;
    text-decoration: underline;
  }
}
.donation-item {
  font-size: 12px;
  color: #444;
  padding: 0 40px;
}
.header {
  padding: 0 30px;
  p {
    font-size: 11px;
  }
}
p {
  font-family: 'Roboto Slab', serif;
  color: #444;
  margin-top: 0 !important;
  margin-bottom: 5px !important;
}
.line {
  margin-bottom: 10px !important;
}
h3 {
  margin: 0 !important;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}
h6 {
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
  margin: 0 !important;
  font-weight: normal !important;
  color: #444;
}
h4 {
  font-family: pl2-font;
  margin-top: 0;
}
.donations-container {
  padding-top: 100px;
  h2 {
    font-family: pl2-font;
    font-size: 25px;
    margin-bottom: 5px;
    color: #888;
  }
  a {
    font-size: 13px;
    text-decoration: underline;
  }
  >div {
    width: 100%;
    h5 {
      font-family: pl2-font;
      font-size: 18px;
      color: #888;
      margin: 5px;
    }
  }
  .content {
    color: #888;
    h4 {
      font-family: pl2-font;
      font-size: 25px;
      margin-bottom: 5px;
    }
  }
}