<div class="announcement-news" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
  <div class="announcements" fxLayout="row" fxLayoutAlign="end end">
    <div>
      <h2>Announcements</h2>
      <p>Good day, Players, the opening of the PL2 Hellbound server (h5) will take place on
        November 30, 2020 7am GTM+8</p>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <img [src]="imgPath + 'main-line.png'" />
  </div>
  <div class="news-and-updates" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
    <h2>News and Updates</h2>
    <div>
      <p>Players who reach level 81 will get a newbie reward, exchange your apiga in hellbound shop.</p>
    </div>
    <div>
      <p>Players who reached 500 points will get enchanted items.</p>
    </div>
    <div>
      <p>Beta players will get special reward contribution</p>
    </div>
  </div>
</div>