<div class="announcement-news" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
  <div class="announcements" fxLayout="row" fxLayoutAlign="end end">
    <div>
      <h2>Announcements</h2>
      <p>Good day, Players, the opening of the server h5 will take place on
        November 15, 2020 Philippine time</p>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <img [src]="imgPath + 'main-line.png'" />
  </div>
  <div class="news-and-updates" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
    <h2>News and Updates</h2>
    <div>
      <p>The server is currently running in beta state for
        at least 2 - 3 months</p>
    </div>
    <div>
      <p>Beta Players who reach level 85 and with 500 points
        online time, will get +10 elegia armor, + 10 accessory
        set , +15 top S84 weapon and a pearl white
        cloak (commemorative item)</p>
    </div>
    <div>
      <p>Beta players will get 500m as reward contribution</p>
    </div>
  </div>
</div>