.features-container {
  padding-top: 115px;
  h2 {
    font-family: pl2-font;
    font-size: 25px;
    margin-bottom: 5px;
    color: #888;
  }
  >div {
    width: 100%;
    h5 {
      font-family: 'Roboto Slab', serif;
      font-size: 18px;
      color: #888;
      margin: 5px;
    }
  }
  .content {
    color: #888;
    width: 100%;
    h4 {
      font-family: 'Roboto Slab', serif;
      font-size: 25px;
      margin-bottom: 5px;
    }
  }
}
.feature-list {
  font-size: 15px;
  font-family: 'Roboto Slab', serif;
  color: #444;
}