<div class="features-container" fxLayout="column" fxLayoutAlign="start start">
  <div fxLayout="column" class="content" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h2>Features</h2>
      <img [src]="imgPath + 'main-line.png'" />
    </div>

    <div class="feature-list" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
      <div>XP 100x</div>
      <div>SP 100x</div>
      <div>Adena 100x</div>
      <div>Safe Enchant 6</div>
      <div>Max Enchant 20</div>
      <div>NPC Buffer (3hrs)</div>
      <div>GM Shop</div>
      <div>Antibot gameguard</div>
      <div>Autolearn skills</div>
      <div>PvP Zones</div>
      <div>Hourly TvT Event</div>
      <div>High Five (H5)</div>
      <div>500m starting adena</div>
      <div>Newbie Reward System</div>
      <div>500 Reward System</div>
    </div>
  </div>
</div>