.change-password-container {
  padding-top: 115px;
  h2 {
    font-family: pl2-font;
    font-size: 25px;
    margin-bottom: 5px;
    color: #888;
  }
  >div {
    width: 100%;
    h5 {
      font-family: pl2-font;
      font-size: 18px;
      color: #888;
      margin: 5px;
    }
  }
  .content {
    color: #888;
    h4 {
      font-family: pl2-font;
      font-size: 25px;
      margin-bottom: 5px;
    }
  }
}
.content {
  > div {
    &:first-child {
      margin-bottom: 20px;
    }
  }
}
input {
  height: 40px;
  max-width: 120px;
}
.btn-change {
  background-image: url('src/assets/images/change-pass-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 31px;
  width: 100%;
  margin-left: 10px;
  margin-top: 5px;
  cursor: pointer;
}
.input-container {
  background-image: url('src/assets/images/input-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 55px;
  min-height: 55px;
  max-height: 55px;
  width: 100%;
  margin-left: 10px;
  > div {
    min-height: 55px;
  }
  label {
    font-size: 12px;
  }
}