<div class="change-password-container" fxLayout="column" fxLayoutAlign="start start">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h2>Change Password</h2>
      <div *ngIf="passwordChangedSuccess">Password Successfully Changed!</div>
      <img [src]="imgPath + 'main-line.png'" />
    </div>

    <div [formGroup]="form" fxLayout="column" class="content" fxLayoutAlign="start start">
      <div>
        <div fxLayout="column" class="input-container" fxLayoutAlign="center center">
          <label>Username</label>
          <div>
            <input type="text" class="username" formControlName="username" autocomplete="off">
          </div>
        </div>
        <div fxLayout="column" class="input-container" fxLayoutAlign="center center">
          <label>Current Password</label>
          <div>
            <input type="password" class="password" formControlName="currentPassword" autocomplete="off">
          </div>
        </div>
      </div>

      <div fxLayout="column" class="input-container" fxLayoutAlign="center center">
        <label>New Password</label>
        <div>
          <input type="password" class="password" formControlName="newPassword" autocomplete="off">
        </div>
      </div>
      <div fxLayout="column" class="input-container" fxLayoutAlign="center center">
        <label>Confirm New Password</label>
        <div>
          <input type="password" class="password" formControlName="confirmNewPassword" autocomplete="off">
        </div>
      </div>
      <div class="btn-change" [ngClass]="{'disabled': !form.valid }" (click)="onChange()"></div>
    </div>
  </div>
</div>