<block-ui>
  <div class="main-container" fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex class="content" fxLayout="column" fxLayoutAlign="center center">
      <div class="header" routerLink="" alt="Click to refresh"></div>
      <div class="content" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
        <div class="left">
          <div fxFlexOffset="50" fxFlex="50" fxLayout="column">
            <!-- login -->
            <app-login></app-login>
            <!-- user menus -->
            <div class="menu-container">
              <div fxFlexOffset="18" fxLayout="column">
                <div *ngIf="!hasLogin" routerLink="registration" (click)="onRegister()" routerLinkActive="active" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                  <img [src]="imgPath + 'banner-icon-1.png'" />
                  <div fxLayout="column">
                    <h4>Registration</h4>
                    <span>New to PL2, register here</span>
                  </div>
                </div>
                <div routerLink="download" routerLinkActive="active" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                  <img [src]="imgPath + 'banner-icon-2.png'" />
                  <div fxLayout="column">
                    <h4>Download</h4>
                    <span>Download files</span>
                  </div>
                </div>
                <div routerLink="features" routerLinkActive="active" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                  <img [src]="imgPath + 'banner-icon-3.png'" />
                  <div fxLayout="column">
                    <h4>Features</h4>
                    <span>Game features and spec</span>
                  </div>
                </div>
                <div routerLink="newbie-guide" routerLinkActive="active" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                  <img [src]="imgPath + 'banner-icon-4.png'" />
                  <div fxLayout="column">
                    <h4>Newbie Guide</h4>
                    <span>Items, level areas & etc..</span>
                  </div>
                </div>
                <div routerLink="change-password" routerLinkActive="active" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                  <img [src]="imgPath + 'banner-icon-5.png'" />
                  <div fxLayout="column">
                    <h4>Change Password</h4>
                    <span>Password related issue</span>
                  </div>
                </div>
                <div routerLink="raidboss-status" routerLinkActive="active" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                  <img [src]="imgPath + 'banner-icon-6.png'" />
                  <div fxLayout="column">
                    <h4>RaidBoss Status</h4>
                    <span>Grandboss/Regular RB's</span>
                  </div>
                </div>
                <div routerLinkActive="active" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                  <img [src]="imgPath + 'banner-icon-7.png'" />
                  <div fxLayout="column">
                    <a href="https://discord.gg/MPuy8aX" target="_blank">
                      <h4>Discord</h4>
                      <span>Realtime discussions</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="center">
          <router-outlet></router-outlet>
        </div>
        <div class="right">
          <div fxFlex="50" fxLayout="column">
            <div fxLayout="column" fxLayoutAlign="center center" class="server-info">
              <div fxLayout="row" fxLayoutAlign="start center">
                <h2>{{ now$ | async | date:'hh' }}</h2>
                <h2>{{ now$ | async | date:'mm' }}</h2>
                <h2>{{ now$ | async | date:'ss' }}</h2>
              </div>
              <div fxLayout="row" fxLayoutAlign="start center">
                <h4>{{ onlineCount }} Online</h4>
              </div>
            </div>
            <div class="top-pvp-players">
              <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
                <div *ngFor="let pvp of ($pvpKills | async); let i = index" class="name">
                  {{ i + 1 }}. {{ pvp?.name }} </div>
              </div>
            </div>
            <div class="top-pk-players">
              <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
                <div *ngFor="let pk of ($pkKills | async); let i = index" class="name">
                  {{ i + 1 }}. {{ pk?.name }} </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</block-ui>