<div class="login-container">
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="end end" class="login-error">
      <span *ngIf="invalidCreds && !loginAttemptReached">Invalid Fields, try again..</span>
      <span *ngIf="loginAttemptReached">Login attemps reached</span>
    </div>
    <div *ngIf="!hasLogin" [formGroup]="form" fxLayout="column" class="login" fxLayoutAlign="start start">
      <div class="input-container" fxFlex  fxLayoutAlign="center center">
        <input type="text" class="username" placeholder="ID" formControlName="login" autocomplete="off">
      </div>
      <div class="input-container" fxFlex fxLayoutAlign="center center">
        <input type="password" class="password" placeholder="Password" formControlName="password" autocomplete="off">
      </div>
      <div class="btn-login" [ngClass]="{'disabled': !form.valid || loginAttemptReached }" (click)="onLogin()"></div>
    </div>
    <div *ngIf="hasLogin" class="logout" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="btn-logout" (click)="onLogout()"></div>
    </div>
  </div>
</div>