<div class="registration-container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
  <ng-container *ngIf="!registerSuccess; else registrationSuccess">
    <div fxLayout="row" fxLayoutAlign="center center">
      <h2>Account Registration</h2>
    </div>

    <div *ngIf="registerFailedMsg" fxLayout="row" fxLayoutAlign="center center" class="failed-msg">{{registerFailedMsg}}</div>

    <div [formGroup]="form" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px">
      <div class="input">
        <input type="text" class="username" formControlName="login" autocomplete="off">
      </div>
      <div class="input">
        <input type="password" formControlName="password" class="password" autocomplete="off">
      </div>
      <div class="btn-register" [ngClass]="{'disabled': !form.valid}" (click)="onRegister()"></div>
    </div>
  </ng-container>
</div>

<ng-template #registrationSuccess>
  <div class="registration-success" fxLayout="column" fxLayoutAlign="center center">
    <h2>Registration Successfull</h2>
    <p>You can now login your account in-game</p>
  </div>
</ng-template>