<div class="download-container" fxLayout="column" fxLayoutAlign="start start">
  <div fxLayout="column" class="content" fxLayoutAlign="center center" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h2>Download files</h2>
      <img [src]="imgPath + 'main-line.png'" />
      <h5>1.
        <a href="https://drive.google.com/drive/u/0/my-drive?fbclid=IwAR1HWU92e9HKZAzVcpU3VbJ32hurldYR-Ij_DajqCQ2D96LKh54OYTl7S8w" target="blank">Google drive download</a>
      </h5>
      <h5> 2. <a href="https://mega.nz/file/a3xi0DqB#FHRWrnOfDDn-E4ndBxTijEP9JkcqouN3h0PLKMWlbIc" target="blank">Mega Download:</a> </h5>
      <h5> 3. <a href="https://mega.nz/file/a3xi0DqB#FHRWrnOfDDn-E4ndBxTijEP9JkcqouN3h0PLKMWlbIc" target="blank">Dropbox Download:</a> </h5>
    </div>

    <div class="instruction">
      <h6>Instructions:</h6>
      <p>1. Download the client + patch</p>
      <p>2. Copy/move into C:\Program Files (x86)</p>
      <p>3. Run L2 Launcher (inside system folder)</p>
    </div>
  </div>
</div>