.account-info-container {
  padding-top: 115px;
  h2 {
    font-family: pl2-font;
    font-size: 25px;
    margin-bottom: 5px;
    color: #888;
  }
  >div {
    width: 100%;
    h5 {
      font-family: pl2-font;
      font-size: 18px;
      color: #888;
      margin: 5px;
    }
  }
  .content {
    color: #888;
    h4 {
      font-family: pl2-font;
      font-size: 25px;
      margin-bottom: 5px;
    }
  }
}